.sideNav {
  color: rgb(0, 0, 0);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.title {
  font-weight: 100;
  font-size: 50px;
}
div li {
  padding-bottom: 1rem;
}

.nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  align-items: flex-end;
  padding: 0;
}
.item {
  position: relative;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  font-size: 16px;
  justify-content: right;
}

/*::after es un pseudoelemento que permite agregar contenido sin modificar el HTML*/
.item::after {
  content: ''; /*Este estilo es obligatorio para el uso de ::after*/
  position: absolute;
  left: 0;
  bottom: -2px; /*Posiciona 2px por debajo del borde del item, en este caso el botón*/
  left: 4px;
  width: 90%;
  height: 2px;
  background-color: rgb(0, 0, 0);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

/*Al hacer hover, se ejecuta esta transformacion*/
.item:hover::after {
  transform: scaleX(1);
}

/*Esta clase se activa cuando se quita el mouse del item (Botón)*/
.item:not(:hover)::after {
  transform: scaleX(0); /* Se contrae hacia la derecha */
  transform-origin: right; /* Cambia el punto de contracción hacia la derecha */
}

@keyframes draw-underline {
  from {
    border-bottom: 2px solid transparent;
    width: 0%;
  }
  to {
    border-bottom: 2px solid white;
    width: 100%;
  }
}
